@font-face {
    font-family: "RobotoCondensed";
    src: url("./fonts/robotoCondensed/RobotoCondensed-Regular.ttf") format("truetype"),
         url("./fonts/robotoCondensed/RobotoCondensed-Bold.ttf") format("truetype"),
         url("./fonts/robotoCondensed/RobotoCondensed-BoldItalic.ttf") format("truetype"),
         url("./fonts/robotoCondensed/RobotoCondensed-Italic.ttf") format("truetype"),
         url("./fonts/robotoCondensed/RobotoCondensed-Light.ttf") format("truetype"),
         url("./fonts/robotoCondensed/RobotoCondensed-LightItalic.ttf") format("truetype");
}


@font-face {
    font-family: "Roboto";
    src: url("./fonts/roboto/Roboto-Regular.ttf") format("truetype"),
         url("./fonts/roboto/Roboto-BlackItalic.ttf") format("truetype"),
         url("./fonts/roboto/Roboto-Bold.ttf") format("truetype"),
         url("./fonts/roboto/Roboto-BoldItalic.ttf") format("truetype"),
         url("./fonts/roboto/Roboto-Italic.ttf") format("truetype"),
         url("./fonts/roboto/Roboto-Light.ttf") format("truetype"),
         url("./fonts/roboto/Roboto-LightItalic.ttf") format("truetype"),
         url("./fonts/roboto/Roboto-Medium.ttf") format("truetype"),
         url("./fonts/roboto/Roboto-MediumItalic.ttf") format("truetype"),
         url("./fonts/roboto/Roboto-Thin.ttf") format("truetype"),
         url("./fonts/roboto/Roboto-ThinItalic.ttf") format("truetype");
}

@font-face {
    font-family: "CascadiaCode";
    src: url("./fonts/cascadiaCode/CascadiaCode.ttf") format("truetype"),
         url("./fonts/cascadiaCode/CascadiaCodeItalic.ttf") format("truetype"),
         url("./fonts/cascadiaCode/CascadiaCodePL.ttf") format("truetype"),
         url("./fonts/cascadiaCode/CascadiaCodePLItalic.ttf") format("truetype"),
}

@font-face {
    font-family: "CascadiaMono";
    src: url("./fonts/cascadiaCode/CascadiaMono.ttf") format("truetype"),
         url("./fonts/cascadiaCode/CascadiaMonoItalic.ttf") format("truetype"),
         url("./fonts/cascadiaCode/CascadiaMonoPL.ttf") format("truetype"),
         url("./fonts/cascadiaCode/CascadiaMonoPLItalic.ttf") format("truetype");
}

