@import url("./base.css");

:root{
    --headerColor: #181818;
    --backgroundColor: #1d1d1d;
    --fontColor: #ffffff;
    --linkColor: #f0855f
}

body, html{
    margin:0;
    font-family: Roboto;
    background-color: var(--backgroundColor);
    color: var(--fontColor);
    width:100vw;
}

header, footer{
    width: 100%;
    margin: 0;
    background-color: var(--headerColor);
    color: var(--fontColor);
    display: inline-flex;
    justify-content: space-between;
    padding: 0;
}

header a {
    margin: 0 1rem;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 16pt;
}

header > * {
    padding: 1rem;
}


footer {
    padding: 2rem 0;
    width: 100vw;
}

a {
    text-decoration: none;
    color: var(--linkColor);
}